.partial-master-mini-hero {
	position: relative
	height: 110px

	.glass {
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		opacity: 1
	}

	&:before {
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: linear-gradient(to bottom,
		rgba(13, 158, 194, 1) 0%,
		rgba(13, 194, 126, 0.6) 100%
		)
	}
	&:after {
		content: ''
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		background: linear-gradient(to bottom,
			rgba(255, 255, 255, 0) 60%,
			rgba(255, 255, 255, 1) 100%
		)
	}
}
