<footer class="partial-master-footer glass-dim">
	<div class="content-wrap">
		<div class="content">
			<strong class="space-right">PLOP</strong>
			<span>The MIT License (MIT) Copyright &copy; {{ year }}</span>
			<span class="footer-right">
				<span>by amwmedia</span>
				<a href="http://amwmedia.com" class="no-link-border" target="_blank">
					<svg viewBox="0 0 100 100" class="icon icon-earth">
						<use xlink:href="#icon-earth"></use>
					</svg>
				</a>
				<a href="https://twitter.com/amwmedia" class="no-link-border" target="_blank">
					<svg viewBox="0 0 100 100" class="icon icon-twitter">
						<use xlink:href="#icon-twitter"></use>
					</svg>
				</a>
				<a href="https://github.com/amwmedia" class="no-link-border" target="_blank">
					<svg viewBox="0 0 100 100" class="icon icon-github">
						<use xlink:href="#icon-github"></use>
					</svg>
				</a>
			</span>
		</div>
	</div>
</footer>
