code.hljs {
	border-radius: 3px;
	padding: 15px 20px;
}

.small-avatar {
	display: inline-block
	background-size: cover
	border: 2px solid #999
	border-radius: 50%
	width: 50px
	height: 50px
	vertical-align: middle
	margin-right: 10px
}

.content-wrap {
	width: 100%
	padding: 2rem 1rem
	
	.med-gte & {
		max-width: 1000px
		padding: 4rem 2rem
		margin: 0 auto
	}

	.lrg-gte & {
		padding: 4rem 0
	}
}

.abs-center {
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
}

.video {
	width: 100%
	position: relative
	padding-bottom: 56.25%
	padding-top: 25px
	height: 0

	iframe {
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	}

	.big-gte & {
		width: 560px
		padding-bottom: 315px
	}
}

a.no-link-border, a.no-link-border:hover { border-bottom: none }


.space-left { margin-left: 0.7em }
.space-right { margin-right: 0.7em }
