<div class="partial-index-contributors">
	<div class="content-wrap">
		<h2>Big Thanks to All Contributors!</h2>
		<ul>
			{{#each top5Contributors as |c idx|}}
			{{> contributor shout-out=false ctx=c }}
			{{/each}}
		</ul>
		<ul>
			{{#each restOfContributors as |c idx|}}
			{{> contributor shout-out=true ctx=c }}
			{{/each}}
		</ul>
	</div>
</div>
