.partial-index-contributors {
	text-align: center
	background-color: $clr-light-gray
	ul, li {
		margin: 0
		padding: 0
		list-style: none
	}
	.contributor-avatar {
		$size = 20%
		$small-size = 14%

		display: inline-block
		vertical-align: middle
		width: $size
		height: $size

		&.shout-out {
			width: $small-size
			height: $small-size
		}

		a {
			border-bottom-width: 0
		}

		img {
			margin: 10%
			width: 80%
			height: 80%
			border-radius: 50%
		}
	}
}
