.partial-index-contributors {
	text-align: center
	// background-color: $clr-light-gray
	ul, li {
		margin: 0
		padding: 0
		list-style: none
	}
	.contributor-avatar {
		$size = 20%
		width: $size
		height: $size
		// margin: 2rem
		display: inline-block
		vertical-align: middle

		a {
			border-bottom-width: 0
		}

		img {
			margin: 10%
			width: 80%
			height: 80%
			border-radius: 50%
		}
	}
}
