<div class="partial-index-example-code"><div class="content-wrap">
	<h2>Making Your First Plopfile</h2>
	<pre><code class="javascript">
module.exports = function (plop) {

  plop.setGenerator('controller', {
    description: 'application controller',

    // inquirer prompts
    prompts: [{
      type: 'input',
      name: 'name',
      message: 'Controller name?'
    }],

    // actions to perform
    actions: [{
      type: 'add',
      path: 'src/controllers/\{{dashCase name}}.js',
      templateFile: 'templates/controller.hbs',
    }]
  });

};
	</code></pre>
</div></div>
