{{> index/features-svg }}
<div class="partial-index-features">
	<ul class="content-wrap">
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-graduation-hat">
				<use xlink:href="#icon-graduation-hat"></use>
			</svg>
			<h2>Simple to Learn</h2>
			<p>
				Creating good boilerplate shouldn't require a masters degree.
				Read over the one page getting started guide and you'll be well on your way.
			</p>
		</li>
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-magic-wand">
				<use xlink:href="#icon-magic-wand"></use>
			</svg>
			<h2>Easy to Use</h2>
			<p>
				Once plop is setup, anyone on the team can simply type <strong>plop</strong> into the terminal.
				The right way to create your code, is now the easiest way.
			</p>
		</li>
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-paperclip">
				<use xlink:href="#icon-paperclip"></use>
			</svg>
			<h2>Flexible</h2>
			<p>
				Allow your boilerplate to grow and change with the codebase it is generating.
				Adding new generators can be as simple as writing a template.
			</p>
		</li>
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-sync">
				<use xlink:href="#icon-sync"></use>
			</svg>
			<h2>Always in Sync</h2>
			<p>
				Keep everyone up to date as they build. When your generators live in
				your codebase, everyone gets the latest version by simply pulling from
				the repo.
			</p>
		</li>
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-mustache">
				<use xlink:href="#icon-mustache"></use>
			</svg>
			<h2>Familiar</h2>
			<p>
				Plop uses the popular <a href="http://handlebarsjs.com/" target="_blank">handlebars</a>
				template engine to generate your files. Many developers are already familiar with the
				handlebars syntax.
			</p>
		</li>
		<li class="feature">
			<svg viewBox="0 0 100 100" class="icon icon-rocket">
				<use xlink:href="#icon-rocket"></use>
			</svg>
			<h2>Powerful</h2>
			<p>
				Plop can generate any type of code! Use plop to generate HTML, CSS, JavaScript,
				CSharp, Objective C, Selenium tests, microservices... anything!
			</p>
		</li>
	</ul>
</div>
