<header class="partial-index-hero">
	<div class="hero">
		<div class="abs-center header-content">
			<h1>
				{{ name }}
				<span class="test" cmpt-typing="controller,component,unit test,module,micro service,integration test,anything!"></span>
			</h1>
			<h2>{{ description }}</h2>
			<a href="/documentation/#getting-started" class="btn primary">Getting Started</a>
			<a href="https://github.com/amwmedia/plop" target="_blank" class="btn secondary">Plop on Github</a>
			<span class="social-links">
				<a href="https://twitter.com/plopjs" class="no-link-border" target="_blank">
					<svg viewBox="0 0 100 100" class="icon icon-twitter">
						<use xlink:href="#icon-twitter"></use>
					</svg>
				</a>
				<a href="https://twitter.com/plopjs" target="_blank">plopjs</a>
			</span>
		</div>
		<div class="glass"></div>
	</div>
</header>
