<div class="partial-index-pitch">
	<div class="content-wrap">
		<h2>Plop is a little tool that saves you time and helps your team build new files with consistency.</h2>
		Plop generates code when you want, how you want, and can be changed whenever you want.
	</div>
</div>
