.partial-index-praise {
	text-align: center

	.twitter-tweet {
		display: inline-block !important
		width: 33% !important
		margin-left: 0.5% !important
		vertical-align: middle

		&:first-child {
			margin-left: 0 !important
		}

		.med-lte & {
			width: 100% !important
			margin-left: 0 !important
		}
	}
}
