<div class="partial-index-who-uses">
	<div class="content-wrap">
		<h2>Who Is Using Plop?</h2>
		<ul>
			<li><img src="/images/logos/paypal.png" alt="PayPal"></li>
			<li><img src="/images/logos/mozilla.png" alt="Mozilla"></li>
			<li><img src="/images/logos/mastercard.png" alt="MasterCard"></li>
			<li><img src="/images/logos/vanguard.png" alt="The Vanguard Group"></li>
			<li><img src="/images/logos/vimeo.png" alt="Vimeo"></li>
			<li><img src="/images/logos/discord.png" alt="Discord"></li>
			<li><img src="/images/logos/gatsby.png" alt="Gatsby"></li>
			<li><img src="/images/logos/doordash.png" alt="Doordash"></li>
			<li><img src="/images/logos/frontline.png" alt="Frontline Education"></li>
			<li><img src="/images/logos/eventbrite.png" alt="Eventbrite"></li>
			<li><img src="/images/logos/sorenson.png" alt="Sorenson Media"></li>
			<li><img src="/images/logos/iadvize.png" alt="iAdvize"></li>
		</ul>
	</div>
</div>
