.partial-index-who-uses {
	background-color: $clr-light-gray
	text-align: center
	.companies-who-use {
		ul, li {
			margin: 0
			padding: 0
			list-style-type: none
		}
		li {
			margin: 20px 30px
			vertical-align: middle
			display: inline-block
		}
		a {
			border-bottom-width: 0
		}
	}
}
