<div class="partial-index-who-uses">
	<div class="content-wrap">
		<h2>Who Is Using Plop?</h2>
		<ul>
			<li><img src="/images/logos/vimeo.png" alt="Vimeo"></li>
			<li><img src="/images/logos/discord.png" alt="Discord"></li>
			<li><img src="/images/logos/gatsby.png" alt="Gatsby"></li>
			<li><img src="/images/logos/frontline.png" alt="Frontline Education"></li>
			<li><img src="/images/logos/eventbrite.png" alt="Eventbrite"></li>
			<li><img src="/images/logos/sorenson.png" alt="Sorenson Media"></li>
			<li><img src="/images/logos/iadvize.png" alt="iAdvize"></li>
			<li><img src="/images/logos/panter.png" alt="Panter"></li>
		</ul>
	</div>
</div>
