<div class="partial-index-who-uses">
	<div class="content-wrap">
		<h2>Who Is Using Plop?</h2>
		<ul class="companies-who-use">
			<li>
				<a href="https://vimeo.com/">
					<img src="/images/logos/vimeo.png" alt="Vimeo">
				</a>
			</li>
			<li>
				<a href="https://discordapp.com/">
					<img src="/images/logos/discord.png" alt="Discord">
				</a>
			</li>
			<li>
				<a href="https://www.gatsbyjs.org/">
					<img src="/images/logos/gatsby.png" alt="Gatsby">
				</a>
			</li>
			<li>
				<a href="https://www.sorensonmedia.com/">
					<img src="/images/logos/sorenson.png" alt="Sorenson Media">
				</a>
			</li>
			<li>
				<a href="https://www.iadvize.com/">
					<img src="/images/logos/iadvize.png" alt="iAdvize">
				</a>
			</li>
			<li>
				<a href="https://www.panter.ch/">
					<img src="/images/logos/panter.png" alt="Panter">
				</a>
			</li>
		</ul>
	</div>
</div>
