{{> doc-start }}

	{{> svg }}
	{{> top-nav }}
	{{> mini-hero }}

	<div class="content-wrap">
		{{> left-nav }}
		<div class="docs-content" cmpt-enhanced-md>
			{{{contents}}}
		</div>
	</div>

{{> doc-end }}
