.layout-documentation {

	.content-wrap {
		padding-top: 0
		> * {
			display: inline-block
			vertical-align: top
		}
	}

	.partial-documentation-left-nav { width: 215px }
	&.med-lte .partial-documentation-left-nav {
		width: 100%
		padding-right: 0
	}
	.docs-content { width: calc(100% - 220px) }
	&.med-lte .docs-content {
		margin-top: 40px
		width: 100%
	}
}
