{{> master/doc-start }}

	{{> master/svg }}
	{{> master/top-nav }}
	{{> master/mini-hero }}

	<div class="content-wrap">
		{{> documentation/left-nav }}
		<div class="docs-content">
			{{{contents}}}
		</div>
	</div>

{{> master/doc-end }}
